{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
                <style>
    /* Add custom CSS for curved table */
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid #dddddd; /* Add a contrasting border color */
        border-radius: 20px; /* Adjust the radius as needed */
        overflow: hidden;
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .rounded-table th,
    .rounded-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #dddddd;
    }


</style>
</head>

<body>
<form action="" method="post">
    <table width="500" border="1" class="table table-bordered rounded-table">
  <tr style="color: black;background-color: #D19C97">
     <th>Sl No</th>
    <th scope="row">Name</th>
    <th>EMAIL</th>
    <th>Phone</th>
    <th>Address</th>


  </tr>
    {% for i in data %}
  <tr>
      <th style="color: black">{{ forloop.counter }}</th>
    <th scope="row" style="color: black">{{i.Name}}</th>
    <td style="color: black">{{ i.Email }}</td>
    <td style="color: black">{{ i.Phone }}&nbsp;</td>
    <td style="color: black"><b style="color: black">Place:</b> {{ i.Place }}<br>
        <b style="color: black">Post: </b>{{ i.Post }}<br><b style="color: black">Pincode:</b>{{ i.PIN }} </td>
  </tr>
    {%  endfor %}
</table>
</form>
</body>
</html>
{% endblock %}