<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E Commerce Website</title>
</head>

<body>
<form action="" method="post">
<table width="500" border="1">
  <tr>
    <th scope="row"><a href="/add_category">Add Category</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_category"> View Category</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="/view_Seller">View Sellers</a></th>#}
{#  </tr>#}
      <tr>
    <th scope="row"><a href="/verified_sellers">View Sellers</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_Customer">View Customer</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_feedback">View Feedback</a></th>
  </tr>
</table>
</form>
</body>
</html>
