<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E Commerce Website</title>
</head>
<body>
<form action="" method="post">
<table width="500" border="1">
  <tr>
    <th scope="row"><a href="/Product_Add">Product Add</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/View_Product"> View Product</a></th>
  </tr>
     <tr>
    <th scope="row"><a href="/Update_Status"> Update Status</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/View_Order"> View Order</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/view_profile"> View Profile</a></th>
  </tr>
    <tr>
     <th scope="row"><a href="/view_ratingss"> View Rating</a></th>
  </tr>
    <tr>
     <th scope="row"><a href="/Sales_Report">Sales Report</a></th>
  </tr>
</table>
</form>
</body>
</html>