{% extends "Seller/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

        <style>
    /* Add custom CSS for curved table */
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid #dddddd; /* Add a contrasting border color */
        border-radius: 20px; /* Adjust the radius as needed */
        overflow: hidden;
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .rounded-table th,
    .rounded-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #dddddd;
    }


</style>
</head>

<body>
<h3 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">View Rating</h3>
<form action="" method="get">
    <table border="1" class="table table-bordered rounded-table">
  <tr style="color: black;background-color: #D19C97">
      <th>Sl No</th>
    <th scope="row">Customer</th>
    <th>Product</th>
    <th>Rating</th>
  </tr>
    {% for i in data %}
  <tr>
      <th style="color: black">{{ forloop.counter }}</th>
    <th scope="row" style="color: black">{{ i.CUSTOMER.Name }}</th>
    <td style="color: black">{{ i.PRODUCT.Name }}</td>
    <td ><img src="{{ i.Rating.0 }}" width="20" height="20">
        <img src="{{ i.Rating.1 }}" width="20" height="20">
        <img src="{{ i.Rating.2 }}" width="20" height="20">
        <img src="{{ i.Rating.3 }}" width="20" height="20">
        <img src="{{ i.Rating.4 }}" width="20" height="20"></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>

{% endblock %}
