<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="/Seller1_post" method="post">
<table width="500" border="1">
  <tr>
    <th scope="row">Name</th>
    <td><label for="Name"></label>
      <input type="text" name="Name" id="Name" /></td>
  </tr>
   <tr>
    <th scope="row">Password</th>
	<td><label for="Password"></label>
    <input type="password" name="Password" id="Password" /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="Name"></label>
    <input type="text" name="Email" id="Email" /></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><label for="Phone"></label>
      <input type="text" name="Phone" id="Phone" /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td><label for="Place"></label>
      <input type="text" name="Place" id="Place" /></td>
  </tr>
  <tr>
    <th scope="row">Post</th>
    <td><label for="POST"></label>
      <input type="text" name="POST" id="POST" /></td>
  </tr>
  <tr>
    <th scope="row">PIN</th>
    <td><label for="PIN"></label>
      <input type="text" name="PIN" id="PIN" /></td>
  </tr>
    <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
  </tr>
</table>
</form>
</body>
</html>
